body {
    background-image: url("https://images3.alphacoders.com/861/thumb-1920-86137.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 20px;

    h1 {
        color: blue;
        text-align: center;
    }

    p {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        font-family: verdana;
        font-size: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .header {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    table {
        border-collapse: collapse;
        width: 50%;
        margin-top: 10px;
        background-color: rgba(255, 255, 255, 0.9);
    }
}