body {
    background-image: url("https://images3.alphacoders.com/861/thumb-1920-86137.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-opacity: 100%;

    h1 {
        color: blue;
        text-align: center;
    }

    p {
        font-family: verdana;
        font-size: 15px;
    }

    .header {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 20px;
    }
}